<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileMonkey.language" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileMonkey.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileMonkey.language>
            <setting name="lblEstadoES" serializeAs="String">
                <value>Estado del Sonar:</value>
            </setting>
            <setting name="lblEstadoEN" serializeAs="String">
                <value>Sonar State:</value>
            </setting>
            <setting name="lblEstadoActivoES" serializeAs="String">
                <value>Activo</value>
            </setting>
            <setting name="lblEstadoActivoEN" serializeAs="String">
                <value>Active</value>
            </setting>
            <setting name="lblEstadoInactivoES" serializeAs="String">
                <value>Inactivo</value>
            </setting>
            <setting name="lblEstadoInactivoEN" serializeAs="String">
                <value>Inactive</value>
            </setting>
        </FileMonkey.language>
        <FileMonkey.Settings1>
            <setting name="lblEstadoES" serializeAs="String">
                <value>Estado del Sonar:</value>
            </setting>
            <setting name="lblEstadoEN" serializeAs="String">
                <value>Sonar State:</value>
            </setting>
        </FileMonkey.Settings1>
    </userSettings>
</configuration>